@charset "UTF-8";

#menus{ float: right; text-align: right; }
#menus li{ display: inline;}
#main_menu{margin-top: 10px;}
#box{ width: 1200px; margin: 0 auto; margin-top: 20px;}
#logo{ float: left; margin-top:20px;}
#logo img{width:25%;}
#main_menu li{
		font-size: 12px; margin: 10px 10px 10px 12px;
}